strict-ssl=True
registry=https://nexus.intern.ind.nl/repository/npm-public/
//nexus.intern.ind.nl/repository/npm-public/:_auth=dmhVOUtjeUc6VFp5eHRDMEhfUV9JN25lbUlORENNbDE3TERYVTY3SUI0N0U4cTQ1YTRiUnI=
cafile=/usr/local/share/ca-certificates/tls-ca-bundle.crt
onnxruntime-node-install-cuda=skip
node-options=--max-old-space-size=4096
